build --incompatible_strict_action_env
build --action_env=BAZEL_CXXOPTS="-std=c++17"
build --define=TYPESENSE_VERSION=\"nightly\"
build --cxxopt="-std=c++17"

test --jobs=6
build --enable_platform_specific_config
