.idea
.clwb
*.iml
external*
external
/build*
test-build*
cmake-build*
cmake-build-debug
cmake-build-release
*.pem
.DS_Store
/bazel-*
typesense-server-data/
.clwb/.bazelproject
.vscode/settings.json
/onnxruntime-prefix
.secrets
